.button:hover,
form .btn-enviar input:hover {
  box-shadow: 0px 0px 8px #fff;
  transform: scale(1);
}
button:focus,
form .btn-enviar input:focus {
  box-shadow: 0px 0px 8px #fff;
  transform: scale(1.05);
}
